
/* Спецификация*/
/* Первый экран*/
.header {
    background-color: #2d3136;
    color: #d7d7d7;
    padding-top: 55px;
    padding-bottom: 95px;
}
.centerlogo {
    padding-top: 80px;
    padding-bottom: 40px;
}

.forminput {
    font-size: 35px;
    line-height: 33px;
    color: #d7d7d7;
    font-family: "Roboto";
    font-weight: 500;

}
.formlabel {
    color: #d7d7d7;
    font-size: 30px;
    font-weight: 400;
}

.form-control {
    border-radius: 5px;
    background-color: #2f3338;
    border: 2px solid;
}

.form-control:focus {
    background-color: #2f3136;
    border-color: #be393b;
    box-shadow: none;

}

.submit {
    font-size: 36px;
    line-height: 33px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;
    background-color: #be393b;
}

/* СЕКЦИЯ POSTS */

.posts {
    padding-top: 285px;
    padding-bottom: 270px;

}

.even {

}
.odd {

}
.h1 {
    font-family: "Roboto";
}
.h2 {
    font-family: "Roboto";
    color: #ffffff;
}

p.col-lg-4 {
    color: #767582;
}

.textform {
    font-size: 70px;
    line-height: 65px;
    color: #d7d7d7;
    font-family: "Roboto";
    font-weight: 500;
}

.t {
    height: 649px;
}

.vasya {
    background: #4b596c;
    width: 300px; /* Ширина слоя */
    margin: 7px; /* Значение отступов */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px; /* Параметры границы */
}
.comments {
    font-size: 86px;
    line-height: 65px;
    color: #37414e;
    font-family: "Roboto";
    font-weight: 500;
    text-align: center;
}